// TODO might have to switch out primary and secondary..
$primary: #f5ede4;
$secondary: #463a23;
$tertiary: #f9f7f3;

$body-color: $secondary;

.faq-details {
  margin-bottom: 0.5em;

  // hack to get hash navigation (#) not be displayed up top
  // https://css-tricks.com/hash-tag-links-padding/#fancier-clean-html-method
  // interferes with summary click
  // &::before {
  //   display: block;
  //   content: " ";
  //   margin-top: -150px;
  //   height: 150px;
  //   visibility: hidden;
  //   pointer-events: none;
  // }

  // add + and - instead the default detail triangle
  summary:after {
    content: "+";
    float: right;
    text-align: right;
  }

  &[open] > summary:after {
    content: "–";
  }

  &__summary {
    // background: $tertiary;
    // background: #EFEEEC;
    background: #F4F4F4;
    // color: $secondary;
    // text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 1em 0.5em;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    // disable the default detail triangle
    &::-webkit-details-marker {
      display: none;
    }
  }

  &__text {
    color: $secondary;
    padding: 0.3em;

    p {
      margin: 0;
    }
  }

  &__image {
    max-width: 100%;
    padding: 0.3em
  }
}

// gtk product description layout

.c-gtk-item {
  display: flex;
  align-items: center;
  img { margin-right: 0.55em; }

  &:first-child { margin-right: 0.5em; }
}

.spr-header-title, .spr-summary {
  text-align: left !important;
}

.product__description {
  p {
    margin-bottom: 0.5em;
  }
}

a {
  color: #4854AD;
}
